

html, body{
    height: 100%; /* required for other elements to take up 100% of height */
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

button {
    font-size: 3em;
}

.square {
    background-color: grey;
    height: 1fr;
    width: 1fr;
    border: 1px solid black;
}

.container {
    display: grid; 
    /* height: 100%; */
    height: 50em;
    width: 50em;
    aspect-ratio: 1;
}